# CityBikes

# Send a request to CityBikes for the city of your choice.

In [31]:
# Importing required libraries
import os   #used to access the values of environment variables
import requests #send api requests

# No API key therefore this is not needed

# Send an API request to Citybikes. Return is a json file. 
url = "https://api.citybik.es/v2/networks/mobibikes"
#url = "http://api.citybik.es/v2/networks"
response = requests.get(url)

#print(response.text)

# Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

In [32]:
# Import required librairies and modules
import json # to read json files
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# assign API return to a variable
json_file = json.loads(response.text)

# Finding the normalize statement that will be used to put the json in a dataframe
pd.json_normalize(json_file['network'], record_path=['stations'])

,empty_slots,free_bikes,id,latitude,longitude,name,timestamp,extra.bank_card,extra.slots,extra.status,extra.uid
0,14,21,7a19c49f486d7c0c02b3685d7b240448,49.262487,-123.114397,0001 10th & Cambie,2022-11-06T02:37:11.461000Z,False,35,online,0001
1,4,12,32603a87cfca71d0f7dfa3513bad69d5,49.274566,-123.121817,0004 Yaletown-Roundhouse Station,2022-11-06T02:37:11.463000Z,False,16,online,0004
2,0,26,6d42fa40360f9a6b2bf641c7b8bb2862,49.279764,-123.110154,0005 Dunsmuir & Beatty,2022-11-06T02:37:11.464000Z,False,26,online,0005
3,10,6,66f873d641d448bd1572ab086665a458,49.260599,-123.113504,0007 12th & Yukon (City Hall),2022-11-06T02:37:11.465000Z,False,16,online,0007
4,6,10,485d4d24c803cfde829ab89699fed833,49.264215,-123.117772,0008 8th & Ash,2022-11-06T02:37:11.466000Z,False,16,online,0008
...,...,...,...,...,...,...,...,...,...,...,...
236,20,1,d8c4fe5e09b6f010fbaa85cc7302d66b,49.245535,-123.120496,0516 Heather & 29th,2022-11-06T02:37:11.602000Z,False,22,online,0516
237,1,25,0c42f45e4a14957ad4a6d521d0ba8bc3,49.289255,-123.132677,0041 Cardero & Robson,2022-11-06T02:37:11.481000Z,False,26,online,0041
238,15,3,62a202eb98c0a4b09ba6746f5ee94ab3,49.252656,-123.067965,0352 Commercial & 20th,2022-11-06T02:37:11.589000Z,False,18,online,0352
239,12,12,a6c6df138cbc97b9f81e7ffbbebdde6f,49.277527,-123.129464,0196 Hornby & Drake,2022-11-06T02:37:11.542000Z,False,24,online,0196
240,10,8,04f64fde5ba1ebde8ad78c74914adb34,49.259469,-123.145718,210 Burrard & 14th,2022-11-06T02:37:11.610000Z,False,18,online,210

# Put your parsed results into a DataFrame.

In [33]:
# Putting json to a dataframe
citybikes_df = pd.json_normalize(json_file['network'], record_path=['stations'])

#Keeping only the relevant columns. Keeping id to count the number of stations per city
citybikes_df.drop(['timestamp', 'extra.bank_card', 'extra.status', 'extra.uid'], axis = 1, inplace=True)

citybikes_df.head()

,empty_slots,free_bikes,id,latitude,longitude,name,extra.slots
0,14,21,7a19c49f486d7c0c02b3685d7b240448,49.262487,-123.114397,0001 10th & Cambie,35
1,4,12,32603a87cfca71d0f7dfa3513bad69d5,49.274566,-123.121817,0004 Yaletown-Roundhouse Station,16
2,0,26,6d42fa40360f9a6b2bf641c7b8bb2862,49.279764,-123.110154,0005 Dunsmuir & Beatty,26
3,10,6,66f873d641d448bd1572ab086665a458,49.260599,-123.113504,0007 12th & Yukon (City Hall),16
4,6,10,485d4d24c803cfde829ab89699fed833,49.264215,-123.117772,0008 8th & Ash,16

In [34]:
# Exporting our results to a CSV so we can use that data in other parts of the project.
citybikes_df.to_csv('Vancouver_BikeStation.csv', index=True)